*{
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}
.link{
    display: inline-flex;
    float: right;
}
.link > a{
    border-bottom: 2px solid transparent;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.link > a:hover{
    border-bottom-color: tomato;
    background-color: rgba(37, 36, 36, 0.068);
}
header > img{
    height:72px;
    width: auto;
}
@media only screen and (max-width: 600px){
    body {
        background-color: whitesmoke;
    }
    .link{
        float: left;
    }
    .link > a{
        font-size: large;
        padding: 0.4em;
    }
    header > img{
        display: block;
        clear: both;
    }
    
}