footer{
    border-top: 10px dashed rgba(255, 255, 255, 0.767);
    padding: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.726);
    color: rgba(255, 255, 255, 0.829);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    text-transform: capitalize;
}
footer a{
    text-decoration: none;
    color: white;
}
footer > .col{
    width: 50%;
    float: left;
    border-left: 3px solid rgba(255, 255, 255, 0.603);
    padding: 1rem;
}
footer .footnote{
    font-family: monospace;
    font-size: smaller;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(255, 255, 0, 0.733)
}
footer .footnote> a{
    color: yellow;
}
footer ul{
    list-style-type: none;
}