header{
    background-color: rgba(255, 255, 255, 0.699);
    position: fixed;
}
#spacer{
    height: 7rem;
}
nav{
    float: right;
}
nav > a{
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 1em;
}
nav > a:hover{
    background-color: rgba(0, 0, 0, 0.068);
}
header img{
    height: 72px;
    display: inline-block;
}
@media only screen and (min-width: 768px) {
    /* for desktop */
    
    }